body{
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: white;
    color: black;
    transition: 0.35;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 15px;
}
button{
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
button:hover{
    background: #0056b3;
}
#toggle-theme{
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
main{
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
}
.dark-mode{
    background: black;
    color: white;
}
.dark-mode main{
 background: #222; 
}